.react-next-dates {
  font-size: 16px;

  .navigation {
    display: grid;
    align-items: center;
    grid-template-columns: 12% 1fr 12%;
    grid-column-gap: 10px;
    height: 50px;

    > button {
      position: relative;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      &:before {
        border-right: 2px solid #95969e;
        border-top: 2px solid #95969e;
        box-sizing: border-box;
        content: '';
        display: block;
        height: 14px;
        left: 50%;
        margin-left: -7px;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        transition: 200ms border-color;
        width: 14px;
      }

      &:first-child:before {
        transform: rotate(-135deg);
      }
    }

    > p {
      margin: 0;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  .day-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0;
    border-bottom: 1px solid #cacbce;

    > span {
      color: #95969e;
      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .day-grid {
    position: relative;

    .day-grid-content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding-top: 10px;

      .day {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;

        &:before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 0;
          padding-bottom: 100%;
        }

        .day-month {
          position: absolute;
          top: 2px;
          font-size: 10px;
          text-transform: capitalize;
          color: #95969e;
        }

        .day-number {
          font-size: 14px;
        }

        &.-today {
          font-weight: bold;
        }

        &.-outside {
          color: #95969e;
        }

        &.-disabled {
          opacity: 0.5;
          cursor: default;
          pointer-events: none;
        }

        &.-selected,
        &.-selected-start,
        &.-selected-middle,
        &.-selected-end {
          background: #000000;
          color: #ffffff;

          &:hover {
            background: #000000;
          }
        }

        &.-selected-start:not(.-selected-end) {
          border-radius: 4px 0 0 4px;
        }

        &.-selected-middle {
          border-radius: 0;
          opacity: 0.3;

          &:hover {
            opacity: 0.4;
          }
        }

        &.-selected-end:not(.-selected-start) {
          border-radius: 0 4px 4px 0;
        }

        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }

  .year-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding-top: 10px;

    .year {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      height: 40px;

      &:hover {
        background: #f2f2f2;
      }

      &.-today {
        font-weight: bold;
      }

      &.-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  .month-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    padding-top: 10px;

    .month {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      height: 40px;
      text-transform: capitalize;

      &.-today {
        font-weight: bold;
      }

      &.-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }

      &:hover {
        background: #f2f2f2;
      }
    }
  }
}

.react-next-dates-popper {
  width: 350px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}
